.skills {
    height: 100Vh;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
}

.container {
    width: 80%;
    border: 1px solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.skillBox {
    display: flex;
    justify-content: space-around;
    width: 25%;
}

.skill {
    border: 1px solid;
    display: flex;
    flex-direction: column;
}

.img {
    height: 40px;
    width: 30px;
    background-color: #383839;
}